<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>IdFilter</filter-name>
  	<display-name>IdFilter</display-name>
  	<description></description>
  	<filter-class>com.tivenstudio.filters.IdFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>NameFilter</filter-name>
  	<display-name>NameFilter</display-name>
  	<description></description>
  	<filter-class>com.tivenstudio.filters.NameFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>SurnameFilter</filter-name>
  	<display-name>SurnameFilter</display-name>
  	<description></description>
  	<filter-class>com.tivenstudio.filters.SurnameFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>EmailFilter</filter-name>
  	<display-name>EmailFilter</display-name>
  	<description></description>
  	<filter-class>com.tivenstudio.filters.EmailFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>UsernameFilter</filter-name>
  	<display-name>UsernameFilter</display-name>
  	<description></description>
  	<filter-class>com.tivenstudio.filters.UsernameFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>PasswordFilter</filter-name>
  	<display-name>PasswordFilter</display-name>
  	<description></description>
  	<filter-class>com.tivenstudio.filters.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>IdFilter</filter-name>
  	<url-pattern>/IdFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>NameFilter</filter-name>
  	<url-pattern>/NameFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SurnameFilter</filter-name>
  	<url-pattern>/SurnameFilter</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>UsernameFilter</filter-name>
  	<url-pattern>/UsernameFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>EmailFilter</filter-name>
  	<url-pattern>/EmailFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>PasswordFilter</filter-name>
  	<url-pattern>/PasswordFilter</url-pattern>
  </filter-mapping><servlet>
  	<servlet-name>HomePageController</servlet-name>
  	<display-name>HomePageController</display-name>
  	<description></description>
  	<servlet-class>com.tivenstudio.controllers.HomePageController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.tivenstudio.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationPage</servlet-name>
  	<display-name>RegistrationPage</display-name>
  	<description></description>
  	<servlet-class>com.tivenstudio.controllers.RegistrationPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>com.tivenstudio.controllers.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomePageController</servlet-name>
  	<url-pattern>/HomePageController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationPage</servlet-name>
  	<url-pattern>/RegistrationPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
</web-app>
